*{
    box-sizing: border-box;
    font-family: sans-serif;
}
.quicksand{
    font-family: 'Quicksand', sans-serif;
}
body{
    margin: 0;
    background-color: rgb(168, 168, 168);
}
.white-background{
    background-color: white;
}
.lightgrey-background{
    background-color: rgb(233, 233, 233);
}
.footer-background{
    background-color: #414A4F;
}
.background-img{
    background-image: url("../images/hero.jpg");
    height: 680px;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.opacity{
    background: rgba(77, 77, 77, 0.5);
}
.white-text{
    color: white;
}
.grey-text{
    color: #414A4F;
}
.lightgrey-text{
    color: rgb(107, 107, 107);
}
.footer-text1{
    color: #A5A9AC;
}
.footer-text2{
    color: #D7D9D8;
}
.navbar{
    padding: 0 4em 0 3em;
}
.no-margin{
    margin: 0;
}
.flex{
    display: flex;
}
.list{
    list-style: none;
}
.flex-grow-1{
    flex-grow: 1;
}
.flex-grow-2{
    flex-grow: 2;
}
.space-around{
    justify-content: space-around;
}
.half-width{
    width: 50%;
}
.flex-end-horizontal{
    justify-content: flex-end;
}
.center-items{
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.center-items-zeroauto{
    margin: 0 auto;
}
.center-text{
    text-align: center;
}
.list li{
    padding: 1em;
}
.list-item a{
    text-decoration: none;
    color: white;
}
.font{
    font-family: gesta;
}
.capitalize{
    text-transform: capitalize;
}
.uppercase{
    text-transform: uppercase;
}
.title{
    padding: 13em 0 12em 0;
}
.title h1{
    font-size: 53px;
}
.title h3{
    padding: 1em 0 2em 0;
    font-weight: 200;
    font-size: 29px;
}
.title button, .subscribe-button{
    display: block;
    background-color: rgb(0, 140, 255);
    color: white;
    border: none;
    border-radius: 3px;
    font-size: 13px;
    font-weight: 800;
    padding: 1em 3em;
}
.subscribe-button{
    margin: 0 0 0 2em;
}
.text-box{
    max-width: 33em;
    padding: 4em 0 1em 0;
}
.text-box p{
    font-size: 13px;
    padding: 2em 0 1em 0;
    line-height: 28px;
}
.line{
    max-width: 8em;
    border-bottom: 1px solid rgb(0, 140, 255);
}
.button:hover, .subscribe-button:hover{
    background-color: rgb(163, 214, 255);
    color: black;
}
/* ---------------------TEST--------------------- */


.image-settings{
    height: 13em;
    background-position: left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.image1{
    background-image: url("../images/coast.jpg");
    margin: 0 0.5em 0 0;
}
.image2{
    background-image: url("../images/island.jpg");
    margin: 0 0 0 0.5em;
}
.image3{
    background-image: url("../images/balloon.jpg");
    margin: 0 0.5em 0 0;
}
.image4{
    background-image: url("../images/mountain.jpg");
    margin: 0 0 0 0.5em;
}
.image-set1{
    padding: 4em 4em 1em 4em;
}
.image-set2{
    padding: 0 4em 5em 4em;
}
.content-wraper{
    padding: 3em 4em 5em 4em;
}
.icon{
    color: rgb(0, 140, 255);
    font-size: 35px;
}
.content-box{
    max-width: 26em;
    padding: 0 2em
}
.content-box p{
    font-size: 11px;
    line-height: 25px;
}
.form-mail{
    padding: 3em 4em 5em 4em;
}
.form-mail #email{
    width: 25em;
}
.socialmedia-list{
    padding: 0;
}
.social-icon{
    font-size: 30px;
}
.socialmedia-wraper{
    padding: 2em 0 0 0;
}
.footnote{
    font-size: 13px;
    padding: 1em 0 5em 0;
}
.footer-text1{
    padding: 1em 0 0 0;
}
/* ---------------------TEST--------------------- */
@media only screen and (min-width: 1550px){
    .image-settings{
        height: 22em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
}
@media only screen and (max-width: 768px) {
    .background-img{
        height: 691px;
    }
    .title button{
        font-size: 16px;
    }
    .text-box h2{
        font-size: 31px;
    }
    .section-padding{
        padding: 0 4em;
    }
    .image-set1, .image-set2{
        display: block;
    }
    .image-settings{
        height: 17em;
    }
    .image-set1{
        padding: 4em 0 2em 0;
    }
    .image-set2{
        padding: 0 0 5em 0;
    }
    .image1, .image2, .image3, .image4{
        margin: 0;
    }
    .image1, .image3{
        margin-bottom: 2em;
    }
    .content-wraper{
        flex-direction: column;
        align-items: center;
        padding: 3em 0 5em 0;
    }
    .content-box{
        padding: 2em 0 0 0;
    }
    .form-mail{
        flex-direction: column;
        align-items: center;
        padding: 3em 4em 5em 4em;
    }
    .form-mail #email{
        height: 3em;

    }
    .subscribe-button{
        margin: 2em 0 0 0;
    }

}

@media only screen and (max-width: 556px) {
    .background-img{
        height: 591px;
    }
    .navbar{
        display: block;
        padding: 0;
    }
    .logo{
        margin: 0 auto;
        padding-top: 20px;
    }
    .menu{
        display: flex;
    }
    .list{
        width: 100%;
        padding: 0 6px;
        display: flex;
        justify-content: space-between;
    }
    .list li {
        padding: 1em 0;
    }
    .title {
        padding: 4.5em 1em 7em 1em;
    }
    .image-settings{
        height: 20em;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
    }
    .content-wraper{
        padding: 3em 0 0 0;
    }
    .form-mail #email{
        width: 20em;
    }
    .form-mail{
        padding: 3em 0 5em 0;
    }
    .footer{
        padding: 0 3em;
    }
}
